.react-international-phone-country-selector-button.countrySelector {
    height: 100%;
    padding: 5px 15px;
    border-width: 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}